.filter__input{
    width: 100%;

    color: var(--select-text-color);
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    cursor: pointer;
    &-wrapper{
        position: absolute;
        width: 90%;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--select-backgound-color);
        @media(min-width: 768px){
             width: 21%;
        }
    }
    .z-index{
        z-index: 1;
    }
    .filter__date{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 11px;
        margin-bottom: 10px;

        @media(min-width: 768px){
            flex-direction: column;
        }
        @media(min-width: 1366px){
            flex-direction: row;
        }
        input{
            width: 110px;
            margin: 10px;
            padding: 15px;
            color: #000;
            background: #EFEFEF;
            border: none;
            border-radius: 8px;
        }
    }
}
.filter__value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 8px;
}
