
.filter{
    margin-bottom: 90px;
    @media(min-width: 768px){
        margin-bottom: 45px;
   }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        
        @media(min-width:768px){
            flex-direction: row;
        }
    }
}

.dropdownIndicator{
    fill: var(--indicator-color)!important;
    &:hover{
        fill:var(--indicator-color-hover) !important;
    }
    &-active{
        transform: rotate(180deg);
    }
}