@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme='dark'] {
    --select-backgound-color:#000;
    --select-text-color:#fff;
    --border-color: #fff;
    --card-background:#000;
    --background-color:#000;
    --indicator-color:rgba(255, 255, 255, 0.3);
    --indicator-color-hover: rgba(255, 255, 255, 0.663);
}

html[data-theme='light'] {
    --select-backgound-color:#fff;
    --select-text-color:#000;
    --border-color: rgba(0, 0, 0, 0.3);
    --card-background:#fff;
    --background-color:#fff;
    --indicator-color:rgba(0, 0, 0, 0.3);
    --indicator-color-hover: rgba(0, 0, 0, 0.749);
    
}

