.custom-select{
    &__placeholder{
        color: var(--select-text-color) !important;
    }

    &__option{
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        background-color:var(--select-backgound-color) !important ;
    }

    &__single-value{
        color: var(--select-text-color) !important;
    }
    &__control {
        height: 45px !important;
        background-color: var(--select-backgound-color) !important;
        box-shadow: none !important; 

        font-weight: 400;
        font-size: 13px;
        
        border-color: var(--border-color) !important;
        border-radius:8px !important ;
        border: 1px solid #fff;

         &--menu-is-open{
             margin-top: -1px;
             border-bottom-color: var(--indicator-color) !important;
            border-top-left-radius: 8px !important;
            border-top-right-radius: 8px !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
         }
        
    }
    &__menu {
        margin-top: -1px !important;
        color: var(--select-text-color) !important;
        background-color: var(--select-backgound-color) !important;
                
        border: 1px solid #fff;
        border-top-color: var(--indicator-color) !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;

        

        &-list{
            border-radius: 8px;
        }
        ::-webkit-scrollbar{
            width: 9px;
            height: 132px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #7B7B7B;
            border-radius: 10px;
        }
    }
    &__indicators{
        cursor: pointer;
    }
    &__indicator{
        color:var(--indicator-color) !important;
        &:hover{
            color:var(--indicator-color-hover) !important;
        }
    }
    &__indicator-separator{
        display: none;
    }

    &__option{
        cursor: pointer !important;
        &:hover, &:active{
            background-color: var(--select-text-color) !important;
            color:var(--select-backgound-color) !important;
        }
        &--is-selected{
            background-color: var(--select-text-color) !important;
            color:var(--select-backgound-color) !important;
        }
    }
}